
        <h1><%= "A List of #{@user.name}'s Leagues"%></h1>

    <ul>
        <% @user.leagues.order_name.each do |league|%>
    
            <%= content_tag(:p, (link_to "Look Inside Your League: #{league.name}", league_path(league)))%>

        <%end%>
    
    </ul>

        <%= link_to "Create New League", new_user_league_path(@user) %><br>
        <br>

        <%= link_to "Log Out", logout_url, method: :destroy %>
